
<html>
    <head></head>

    <body>

    <h1>Album Reviews</h1>

    <form method='POST' action='/add-album'>
        
        <input type='text' name='albumName' value='{{albumName}}' placeholder='Album' required><br><br>
        <input type='text' name='albumReview' value='{{albumReview}}' placeholder='Review' required><br><br>
        {{! <input type='hidden' value='{{date_created}}
        <button name="saveButton">Save Album Review</button>
    </form>

    <ul>
        {{#posts}}
        <li>
        <form method='POST' action='/delete-album'>
            <label><b>Album:</b> {{title}}<br><br><b>Review:</b> "<i>{{body}}</i>"<br><br><b>Date created:</b> {{date_created}}</label>
            <input type='hidden' value={{post_id}} name='post_id' />
            <button>Delete</button>
        </form>
        </li>
        {{/posts}}
    </ul>

    </body>

</html>